<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Email Notification</title>
</head>

<body>
    <div class="w-[1100px] mx-auto py-10">
        <form action="." method="post">
            {% csrf_token %}
            {% if data %}
            <h1 class="w-fit bg-green-300 py-1 px-7  rounded-xl text-center mx-auto mb-10 ">{{data}}</h1>
            {% endif %}
            <div class="w-80 mx-auto space-y-3">
                <label for="email" class="block text-sm font-medium text-gray-700 ml-1">Email Id</label>
                <div class="mt-1"></div>

                <input type="email" name="email_id" id="email"
                    class="block w-full rounded-md border text-center h-10 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                    placeholder="you@example.com" aria-describedby="email-description" required>
                <input type="submit" value="submit"
                    class="w-fit px-3 mx-auto border bg-blue-400 rounded-md border-gray-400">
            </div>
        </form>
    </div>
    </div>
</body>
</html>